<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to root_path, class: "text-decoration-none header-logo" do %>
      <%= image_tag("favicon.ico", width: "35", class: "pe-2") %>
      InApp
    <% end %>
    <div class="d-flex flex-row align-items-center">
      <button id="dark-mode-toggle">
        <i class="bi bi-moon pe-4"></i>
      </button>
      <i class="bi bi-bell pe-4"></i>
      <div class="border-start" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn bg-transparent border-0 shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://lh3.googleusercontent.com/a/AAcHTtco_XUlCV6TN1i83dbP96Ot1qLfnqXo0_phw45kq4k=s576-c-no" alt="Avatar image" width=35 class="rounded-circle border border-light-subtle border-2">
              Belen Y.
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <%= link_to "Perfil", profile_path, class: "dropdown-item" %>
              </li>
              <li>
                <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
                  Cerrar sesión
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
