<div class="dropdown notifications-dropdown">
  <a class="position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-bell pe-4"></i>
    <i class="bi bi-circle-fill pe-4 position-absolute"></i>
  </a>
  <ul class="dropdown-menu p-0">
    <li class="dropdown-item border-bottom d-flex flex-column justify-content-center p-2">
      <small>8 min</small>
      <div class="row align-items-center">
        <div class="col">
          <div class="text-wrap">
            <strong>Marcos Ramírez</strong> agregó un nuevo producto al inventario.
          </div>
        </div>
        <div class="col-auto">
          <img class="object-fit-cover rounded-circle" width=25 height=25 src="https://img.freepik.com/foto-gratis/porait-chico-lindo-cafe_23-2148436119.jpg?w=1380&t=st=1686081273~exp=1686081873~hmac=21d286fe4217eedc40e4baea1bccc72505803927fdc47cbbcf83afb9c367d655" alt="...">
        </div>
      </div>
    </li>
    <li class="dropdown-item border-bottom d-flex flex-column justify-content-center p-2">
      <small>8 min</small>
      <div class="row align-items-center">
        <div class="col">
          <div class="text-wrap">
            <strong>Alejandra Alonso</strong> eliminó <b>3</b> productos de la categoría <b>alimentos</b>.
          </div>
        </div>
        <div class="col-auto">
          <img class="object-fit-cover rounded-circle" width=25 height=25 src="https://img.freepik.com/foto-gratis/mujer-interesada-cabello-ondulado-tomando-selfie_197531-16717.jpg?w=1380&t=st=1686081312~exp=1686081912~hmac=53db0774416ceb7144e407262984ec0b5be4800b7949e5bc04e85454ac71e0fc" alt="...">
        </div>
      </div>
    </li>
    <li class="dropdown-item border-bottom d-flex flex-column justify-content-center p-2">
      <small>8 min</small>
      <div class="row align-items-center">
        <div class="col">
          <div class="text-wrap">
            <strong>Sofía Martínez</strong> agregó el gráfico <b>Fuentes de ingreso</b> al dashboard.
          </div>
        </div>
        <div class="col-auto">
          <img class="object-fit-cover rounded-circle" width=25 height=25 src="https://img.freepik.com/foto-gratis/selfie-retrato-videollamada_23-2149186162.jpg?w=1380&t=st=1686081238~exp=1686081838~hmac=312d728b794eee70bf0a9f30a5e8d4f3c8eb08794126ddc462ae7aa6a6b21eee" alt="...">
        </div>
      </div>
    </li>
  </ul>
</div>
