<nav id="sidebarMenu" class="sidebarMenu col-auto d-md-block">
  <button class="toggleSidebar rounded-circle px-2 py-1 border-0" id="toggleSidebar">
    <i class="bi bi-chevron-double-left"></i>
  </button>
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to dashboard_index_path, class: "nav-link p-0" do %>
          <i class="bi bi-view-stacked"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to products_path, class: "nav-link p-0" do %>
          <i class="bi bi-cart2"></i>
          <span>Productos</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to categories_path, class: "nav-link p-0" do %>
          <i class="bi bi-book"></i>
          <span>Categorías</span>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0" href="#">
          <i class="bi bi-file-earmark-bar-graph"></i>
          <span>Reportes</span>
        </a>
      </li>
      <li class="nav-item">
        <button type="button" class="nav-link p-0" data-bs-toggle="modal" data-bs-target="#logoutModal">
          <i class="bi bi-box-arrow-right"></i>
          <span>Cerrar sesión</span>
        </button>
      </li>
    </ul>
  </div>
</nav>
<script>
  const sidebar = document.querySelector("#sidebarMenu");
  const toggleSidebarBtn = document.querySelector("#toggleSidebar");

  toggleSidebarBtn.onclick = () => {
    sidebar.classList.toggle("sidebarMenu--collapse");
  }
</script>
