<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-view-stacked"></i>          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <%= link_to inventory_index_path, class: "nav-link active" do %>
          <i class="bi bi-book"></i>
          Inventario
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-cart2"></i>
          Productos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-file-earmark-bar-graph"></i>
          Reportes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-box-arrow-right"></i>
          Cerrar sesion
        </a>
      </li>
    </ul>
  </div>
</nav>
