<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to dashboard_index_path, class: "nav-link" do %>
          <i class="bi bi-view-stacked"></i>
          Dashboard
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to products_path, class: "nav-link" do %>
          <i class="bi bi-cart2"></i>
          Productos
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to categories_path, class: "nav-link" do %>
          <i class="bi bi-book"></i>
          Categorías
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-file-earmark-bar-graph"></i>
          Reportes
        </a>
      </li>
      <li class="nav-item">
      <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
      </button>
      </li>
    </ul>
  </div>
</nav>
