body {
  font-family: 'Inter', sans-serif;
  background-color: $navigation-bg;
  main {
    background: $white;
    padding: 2rem;
    border-radius: 40px;
  }
}

.btn, .btn:hover {
  background: $black;
  color: $white;
  border-radius: 4px;
  padding: 4px 12px;
  border: 1px solid $black;
  font-size: 14px;
  font-weight: 100;
}

.btn-cancel, .btn-cancel:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $black;
}

.btn:hover, .btn-cancel:hover {
  box-shadow: 0px 0px 3px 2px #e3e3e3;
}

.goback-icon {
  color: $black;
}

.table-responsive {
  background: #efefef;
  padding: 10px 16px;
  border-radius: 12px;
  tbody {
    border-color: transparent;
    .bi-trash {
      color: $red;
    }
    .bi-pencil-square {
      color: $blue;
    }
    .table-totals {
      border-bottom: 1px solid #dee2e6;
      font-weight: 500;
      border-radius: 12px;
    }
  }
}

.dropdown-menu.show {
  left: auto;
  right: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 101;
  top: 0;
  font-weight: 400;
  a {
    color: $black;
  }
  .header-logo {
    font-size: 16px;
  }
  button, button:hover {
    color: $black;
  }
}

.root-div.logged-in {
  margin-top: calc(65px + 1vw);
}

nav {
  padding-top: calc(65px + 1vw);
  background-color: $navigation-bg;
}

a {
  color: $blue;
}

#sidebarMenu {
  font-size: 16px;
  box-shadow: none;
  position: relative;
  .toggleSidebar {
    position: absolute;
    right: -15px;
    z-index: 102;
    background-color: $black;
    color: $white;
  }
  a, button {
    color: $black;
  }
}
