body.dark {
  background-color: $black;

  .btn:not(.btn-cancel):not(.btn-confirm):hover {
    border: 1px solid $white;
  }

  #deleteConfirmationModal div {
    color: $black;
  }

  a.link-offset-2 {
    color: $white;
  }

  .goback-icon {
    color: $white;
  }

  .product-form {
    label {
      background-color: $bg-dark-light;
      color: $white;
    }
    .form-control {
      background-color: $bg-dark-light;
      border-color: $bg-dark;
      caret-color: $white;
      color: $white;
    }
  }

  nav, .navbar {
    background-color: $black;

    .toggleSidebar {
      background-color: $white;
      color: $black;
    }

    a, button, button:any-link {
      color: $white;
    }

    .notifications-dropdown {
      .dropdown-menu-dark {
        box-shadow: none;
        border: 1px solid $bg-dark;
        small {
          color: $white;
        }
        li {
          border-color: $bg-dark !important;
          &:last-child {
            border-color: transparent !important;
          }
        }
      }
    }
  }

  main {
    background-color: $bg-dark;
    color: $white;

    h6 {
      color: $white;
    }

    .card,
    .dashboard .dashboard-summary .card,
    .table-responsive {
      background-color: $black;
      color: $white;
    }

    .table-responsive {

      tr,
      i {
        color: $white;

        &:hover {
          background-color: $bg-dark;

          td {
            color: $white;
          }
        }
      }
    }

    .ganancias-card,
    .pie-chart-container {
      background-color: $white;

      h6,
      span {
        color: $black;
      }
    }

    .progress-bar,
    .ganancias-card,
    .pie-chart-container {
      filter: invert(1);
    }
  }
}
