<div class="productos">
  <%= render partial: 'shared/section_title', locals: {title: "Categorías", backButton: false} %>
  <div class="row">
    <% @items_by_category.each do |category, items| %>
      <div class="col">
        <%= render partial: 'shared/custom_collapsible', locals: {title: category.upcase, items: items} %>
      </div>
    <% end %>
  </div>
</div>
