<%= render partial: 'shared/section_title', locals: {title: "Productos"} %>
<% p @items_by_category %>
<% @items_by_category.each do |category, items| %>
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <%= category.upcase %>
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div>
<% end %>
